In [1]:
def factorial(n=0):
    return 1 if n ==0 else n*factorial(n-1)

In [2]:
factorial(12)

479001600

## vararg function
## variadic functions
## function with variable number of argumenets

In [3]:
def factorials(*nums): #when *argument is prsent then it is tuple this tuple is capable of recieving arbitarally meaning of arguments
    facts =[]
    for n in nums:
        facts.append(factorial(n))
    return facts

In [4]:
factorials(1,2,3,5)

[1, 2, 6, 120]

In [5]:
factorials(*[1,2,3,4,5,13,5,2]) # * is used to unbox the list in actual parameters

[1, 2, 6, 24, 120, 6227020800, 120, 2]

## Key Word Argument

In [6]:
def print_emp(fn,ln,):
    print(f"First Name :{fn}")
    print(f"Last Name : {ln}")

In [7]:
print_emp('Yann',"Lecun")

First Name :Yann
Last Name : Lecun

In [8]:
print_emp(ln = 'Lecun',fn = 'Yann')

First Name :Yann
Last Name : Lecun

In [9]:
print_emp(ln = 'Lecun',fn = 'Yann', salary =600000)

TypeError: print_emp() got an unexpected keyword argument 'salary'

In [10]:
# mULTIPLE KEYWORD argument
def print_emp(fn,ln,**kwargs): #How many arguments are compolsary? ans - 2
    print(f"First Name :{fn}")
    print(f"Last Name : {ln}")
    for key in kwargs:
        print(f"{key}: {kwargs[key]}")

In [11]:
print_emp(fn="ritwik",ln="mkherjee", saalry = 60000, monthly = 2500, perday =150)

First Name :ritwik
Last Name : mkherjee
saalry: 60000
monthly: 2500
perday: 150

# Lambda Expression

In [12]:
def comp(a,b):
    return a>b

In [13]:
comp(12,5)

True

In [14]:
(lambda a, b: a>b)(12,5)

True

In [15]:
comp1 = lambda a, b: a>b # another way of using it

In [16]:
comp1(12,5)

True

In [17]:
from sorting import get_max, bubbleSort, selctionSort# importing sorting.py module from same directory

In [18]:
a = [('ram',20,18000), ('sam',19,20000),('jadu',21,19000)]

In [19]:
def comp(e1,e2):
    return e1[2]>e2[2]

In [20]:
get_max(a, comp)

('sam', 19, 20000)

In [21]:
get_max(a, lambda e1,e2: e1[1]>e2[1])

('jadu', 21, 19000)

In [22]:
bubbleSort(a, comp)# sorting salary wise

[('ram', 20, 18000), ('jadu', 21, 19000), ('sam', 19, 20000)]

In [23]:
bubbleSort(a, lambda e1,e2: e1[1]>e2[1]) # sorting age wisen

[('sam', 19, 20000), ('ram', 20, 18000), ('jadu', 21, 19000)]

In [25]:
selctionSort(a, comp)

[('sam', 19, 20000), ('jadu', 21, 19000), ('ram', 20, 18000)]

In [28]:
selctionSort(a,lambda e1,e2: e1[1]<e2[1])## error with selectionSort

[('sam', 19, 20000), ('ram', 20, 18000), ('jadu', 21, 19000)]