# Generators

#### Generator in python can generate sequence of items
#### ex - sequence of strings of names or sequence of integers
#### Generated items can be recive by using 'for' loop
#### Items stored in a generator never stores 
#### a for loop can asked to generate the item only once , a generator will never regenerate again. ** if we run the same code for generator it will give nothing compared to range() which can all over again and again
### A generator can be converted to any desired data type.
#### Generatros are space efficient

In [38]:
def factorial(n):
    f = 1
    for i in range(1,n+1):
        f*=i
        yield f ## yield means to generate

In [53]:
f = factorial(10)

In [54]:
a = 0xb # hexadecimal num

In [55]:
a

11

In [56]:
b = 0o12 #octal num

In [57]:
b

10

In [58]:
c = 0b101 # binary num

In [59]:
c

5

In [60]:
type(f)

generator

In [61]:
type(factorial)

function

In [62]:
for item in f: ## iterating with a for loop in generator - f
    print(item)

1
2
6
24
120
720
5040
40320
362880
3628800

In [64]:
# Best way of generating a generator
for item in factorial(10):
    print(item)

1
2
6
24
120
720
5040
40320
362880
3628800

In [66]:
f = factorial(10)

In [67]:
a = list(f)

In [68]:
a

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [76]:
def names(english):
    if not english:
        yield 'Ram'
        yield 'Sam'
        yield 'Jadu'
        yield 'Pachu'
    else:
        yield 'Tom'
        yield 'John'
        yield 'Harry'
        yield 'Mr. Bean'

In [77]:
for name in names(False):
    print(name)

Ram
Sam
Jadu
Pachu

In [78]:
for name in names(True):
    print(name)

Tom
John
Harry
Mr. Bean

In [128]:
def fibo(n):# weak point of mine fibonachi series both recursive and iteraqtive way
    
    for i in range(1,n+1):
        if i == 1:
            term =0
            a=0
        elif i==2:
            term = 1
            b = 1
        else:
            term = a+b
            a = b
            b = term
        yield term

In [130]:
for item in fibo(7):
    print(item)

0
1
1
2
3
5
8

## Built in Generators: map and zip

In [137]:
a = [12,5,13,6]

In [138]:
def fact(n):
    return 1 if n==0 else n* fact(n-1)

In [139]:
b = [fact(n) for n in range(10)]

In [140]:
b

[479001600, 120, 6227020800, 720]

In [156]:
c = map(fact, a)

In [157]:
type(c)

map

In [158]:
for item in map(fact,a): # better way
    print(item)

479001600
120
6227020800
720

In [159]:
for item in c:
    print(item)

479001600
120
6227020800
720

In [161]:
list(map(lambda x: x**3,a)) # using lambda to write annoyonomus function then using map and list to create a list

[1728, 125, 2197, 216]

# zip

In [162]:
a = ['Ram','Sam','Jadu','Madhu']
b = [19,22,18,20]
c = [18000,22000,20000,19000]

In [163]:
z = zip(a,b,c)

In [164]:
z

In [165]:
for item in z:
    print(item)

('Ram', 19, 18000)
('Sam', 22, 22000)
('Jadu', 18, 20000)
('Madhu', 20, 19000)

In [166]:
for item in zip(a,b,c):
    print(item)

('Ram', 19, 18000)
('Sam', 22, 22000)
('Jadu', 18, 20000)
('Madhu', 20, 19000)

In [167]:
a = [[12,5,7,13],[6,15,2,1],[2,3,4,6]]

In [173]:
list(zip(a[0],a[1],a[2])) # directly converting it into list in one line without using loop

[(12, 6, 2), (5, 15, 3), (7, 2, 4), (13, 1, 6)]

In [183]:
list(zip(*a)) # * is used to unbox the list contents (best way to transpose matrix)

[(12, 6, 2), (5, 15, 3), (7, 2, 4), (13, 1, 6)]

In [187]:
list(map(list ,zip(*a))) ###### most compact version regularly use map(), zip() and generators

[[12, 6, 2], [5, 15, 3], [7, 2, 4], [13, 1, 6]]

SyntaxError: can't use starred expression here (cell_name, line 4)