# Data Structure in Python

### 1. range
### 2. list
### 3.tuple
### 4. set
### 5. dict
## Features of each data structures:-
#### 1. Indexing
#### 2. Slicing
#### 3. immutability
#### 4. hashable
#### 5. iterable

## Range:-

In [25]:
r = range(12,1000000,5)

In [26]:
type(r)

range

In [27]:
len(r)

199998

In [28]:
r[5]

37

In [29]:
r[2:7]

range(22, 47, 5)

In [30]:
r[2:7][-1] ##first part slicing of range r and then calling the index in second[]

42

In [31]:
hash(r)

4047370073168909866

### for loop in python works with only iterable data structures

In [33]:
s = "python"
for x in s:
    print(x)

p
y
t
h
o
n

### if i have to move thru a ds using indexes we will put the ds in range() ds .

In [ ]:
r1 = range(len(s))
for i in r1:
    print(s[i])

In [69]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

n
o
h
t
y
p

### For reverse range use -1 as common difference of range() and starting adresss should be last and ending adress should be first

In [64]:
r2 = range(5,0,-1)

In [65]:
r2

range(5, 0, -1)

In [66]:
r[0]

12

In [67]:
r2[0]

5

In [59]:
r2[1]

4

## list

##### List is finite item of hetrogenious item

In [74]:
a = ['ram',12,'sam',5,'jadu',7,'madhu',13]

In [75]:
a[1] = 24

In [76]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13]

In [77]:
a.append('Hari')

In [78]:
a.append(6)

In [79]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13, 'Hari', 6]

In [80]:
a.insert(4,'tom')

In [81]:
a.insert(5,15)

In [82]:
a

['ram', 24, 'sam', 5, 'tom', 15, 'jadu', 7, 'madhu', 13, 'Hari', 6]

In [83]:
a.pop()

6

In [84]:
a

['ram', 24, 'sam', 5, 'tom', 15, 'jadu', 7, 'madhu', 13, 'Hari']

In [85]:
a.pop()

'Hari'

In [86]:
a

['ram', 24, 'sam', 5, 'tom', 15, 'jadu', 7, 'madhu', 13]

In [88]:
a.pop(4)

'tom'

In [89]:
a

['ram', 24, 'sam', 5, 15, 'jadu', 7, 'madhu', 13]

In [90]:
a.pop(4)

15

#### Lists can be concatinated or mix to form a new list

In [91]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13]

In [93]:
b= a + ['tom', 15]

In [94]:
b

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13, 'tom', 15]

In [95]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13]

In [96]:
a+= ['aritra', 25]

In [97]:
a

['ram', 24, 'sam', 5, 'jadu', 7, 'madhu', 13, 'aritra', 25]

In [99]:
hash(a) # Lists are not hashable

TypeError: unhashable type: 'list'

In [101]:
for j in a:
    print(j)

ram
24
sam
5
jadu
7
madhu
13
aritra
25

In [105]:
for i in range(0,len(a)-1,2):
    print(f"{a[i]} has got {a[i+1]}")

ram has got 24
sam has got 5
jadu has got 7
madhu has got 13
aritra has got 25