In [6]:
testCase, m = map(int, (input().split()))
maxList = []
add = 0
for i in range(testCase):
    lst = list(map(int, input().split()))
    maxList.append(max(lst))

3 1000
2 5 4
3 7 8 9
5 5 7 8 9 10

In [7]:
for j in range(len(maxList)):
    add+= maxList[j]**2
print(add%m)

206

# Tuple

In [9]:
a = 23,5,6,21,3

In [16]:
type(a)

12

In [21]:
a,b =10, 12

In [22]:
a,b = b,a

In [23]:
b

10

In [26]:
a

12

# Set

In [27]:
s = {12,5,12,7,13,5}

In [29]:
len(s)

4

In [31]:
s[1]

TypeError: 'set' object does not support indexing

In [33]:
s

{5, 7, 12, 13}

In [34]:
s.add(6)

In [35]:
s

{5, 6, 7, 12, 13}

In [38]:
type(s)

set

In [40]:
s.add(12.5)

In [50]:
s

{5, 6, 7, 12, 12.5, 13}

In [53]:
a = {12,5,7,13,6}
b = {7,13,15,2,1}

a.union(b)

{1, 2, 5, 6, 7, 12, 13, 15}

In [56]:
a.intersection(b)

{7, 13}

In [58]:
a.difference(b)

{5, 6, 12}

In [60]:
b.difference(a)

{1, 2, 15}

In [65]:
s = {x*x for x in range(-5,5)}
s

{0, 1, 4, 9, 16, 25}

In [68]:
len(s)

6

In [69]:
d = {'Aritra': 25, 'Subhadeep': 22, 'DB': 15, 'Samriddha': 17, 'allrounder': 30}

In [72]:
d['Aritra']

25

In [73]:
d['Aritra']

25

In [81]:
d['Jerry'] = 22

In [82]:
d

{'Aritra': 25,
 'Subhadeep': 22,
 'DB': 15,
 'Samriddha': 17,
 'allrounder': 30,
 'Jerry': 22}

In [83]:
for i in d:
    print(f"{i} has got {d[i]}")

Aritra has got 25
Subhadeep has got 22
DB has got 15
Samriddha has got 17
allrounder has got 30
Jerry has got 22

In [137]:
d= {('ram','sharma'): [12,5,7],('sam','barma'): [13,6,9],('jadu','guha'):[2,1,3]}

In [138]:
d

{('ram', 'sharma'): [12, 5, 7],
 ('sam', 'barma'): [13, 6, 9],
 ('jadu', 'guha'): [2, 1, 3]}

In [139]:
d['ram', 'sharma']

[12, 5, 7]

In [140]:
a= ["Physics", "math", "chem"]

In [143]:
for x in range(len(d)):
    for i,j in d:
        print(f"{i} {j} has got {d[i,j][x]} in {a[x]}")

ram sharma has got 12 in Physics
sam barma has got 13 in Physics
jadu guha has got 2 in Physics
ram sharma has got 5 in math
sam barma has got 6 in math
jadu guha has got 1 in math
ram sharma has got 7 in chem
sam barma has got 9 in chem
jadu guha has got 3 in chem